html, body{
    height: 100%;
    background-color: rgb(236, 236, 236);
  }


.container {
    height: 90%;
    background-color: white;
    
}

  


#under-nav {
  
    background-color: rgb(113, 113, 190);
    height: 200px;
}

#id-holder{
    height: 30%;
    margin-top: 3%;
    background-color: rgb(150, 84, 84);
    
}

#all-content-holder{
    height: 100%;

}
#all-content-holder{
    height: 100%;

}

#id-card-style{
    height: 100%;
    display: flex;
    align-items: center;
}

#contant-style{
    border: 1px black;
    height: 100%;
    

}

#profile-pic{
    margin: 33% auto;
    
    
    
    
    
}


#navbar-nav{
    margin: 0 auto;
    
}

.nav-item{
    margin: 1rem 2rem;
    
}


#id-card {
    margin: 3rem 0.5rem;
    
}




#project-one{
    margin-top: 3rem;
}

.contant-one{
    margin-top: 3rem;
}


#project-two{
    margin-top: -8rem;
}

#project-three{

}

#home-container{
    background-color: white;
    border: 1px solid black;
   
}


@media (max-width: 720px) {
    #id-card {
        margin: 1rem auto;
        width: 95%;
        
    }

    #project-one{
        margin-top: 1rem;
    }

    #id-card-holder{
        margin: 1rem auto;
    }

    .extra-cantant{
        display: none;
    }



}





.full-width{
    width: 100%;

}

.border{
    border: 1px black;
}

.backgraund-test{
    background-color: rgb(150, 84, 84);

}